html, body {
    margin: 0 !important;
    padding: 0 !important;
}
span {
  font-size: smaller;
  color: grey;
}

#canvasContainer {
  width: 100%;
  text-align:center;
}

#canvas {
  display: inline;
}

#info, #infobutton {
  z-index: 1;
  display: inline;
  position: relative;
}

#infobutton {
  margin: 10px 0px 0px 5px;
  background: transparent;
}

#info {
  width: 25%;
  height: 20%;
  border: white 2px solid;
  background: rgba(253, 249, 249, 0.19);
}
